{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">You can mange posts here.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">


                <h1>Add/Edit Post</h1>


                    <form id="contactForm" action="/edit/{{sno}}" method="post" >
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Enter your title..." value="{{post.title}}" />
                            <label for="name">Title</label>

                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="content" name="content" placeholder="Enter your content..." value="" style="height: 12rem" >{{post.content}}</textarea>
                            <label for="content">Content</label>

                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" name="slug" type="text" placeholder="Enter your slug..." value="{{post.slug}}" />
                            <label for="slug">Slug</label>

                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="img_file" name="img_file" placeholder="Enter your img_file..."  value="{{post.img_file}}"/>
                            <label for="img_file">Image File</label>
                        </div>
                        <br>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->

                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase " id="submitButton" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}
